.under-task {
    margin-top: -100px;
}



.task {
    border-style: solid;
    border-width: 2px;
    border-color: #777777;
    background-color: #f1f1f1;
    border-radius: 7px;

    height: 33px;
    margin-right: 10%;
    margin-left: 58px;
    margin-top: 8px;
}

.task-list {
    margin-top: 1px;

    padding-left: 15px;

    display: block;
    color: #2f2f2f;
    text-decoration: line-through;
    text-align: left;

    font-style: italic;
    font-size: 24px;
    font-weight: normal;
}

