body {
    font-size: 18px;
}

.under-market {
    margin-top: -86px;
}

.market-class {
    margin-left: 58px;
    margin-right: 10%;
    margin-bottom: 8px;

    border-radius: 8px;
    border-style: solid;
    height: 40px;
    background-color: #ececec;
    border-color: #ababab;
}

.button-market-class {
    float: right;
    margin-top: 6px;
    margin-right: 14px;
    margin-left: 8px;
}

.button-add {
    height: 28px;
    width: 60px;
    border-radius: 8px;
    border-style: solid;
    background-color: #cecece;
    border-color: #ababab;
}

.button-add:hover {
    background-color: #777777;
    border-color: #777777;
}

.market-class img {
    float: right;
    margin-top: 4px;
    margin-right: 8px;
    padding: 1px;

    width: 30px;
}

.text-item {
    float: left;
    margin-left: 14px;
    margin-top: 10px;
}

.price {
    float: right;
    margin-right: 6px;
    margin-left: 8px;
    margin-top: 10px;
}



